main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.color-inputs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.input-group{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.square{
    padding:5%;
}