
#root>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px;
}
.posts{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.post{
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
    padding: 20px;
    font-size: 12px;
}

.post button{
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}